
        {% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>My Blogs</h1>
                            <span class="subheading">A Blog Theme by Vedant Patil</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for blog in data: %}
                    <div class="post-preview">
                        <a href="{{ url_for('show_post', index=blog.id) }}">
                            <h3 class="post-title">{{blog['title']}}</h3>
                            <h4 class="post-subtitle">{{blog['subtitle']}}</h4>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Vedant Patil</a>
                            on September 24, 2023
                        </p>
                         <!-- Divider-->
                        <hr class="my-4" />
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}

